<form class="form-horizontal" method="post">
     <fieldset>
         <div class="form-group {{if comments.text "has-error"}}">
               <label for="text" class="col-lg-2 control-label">Új komment</label>
               <div class="col-lg-10">
                    <textarea class="form-control" rows="3" id="text" name="text">{{data.text}}</textarea>
                    <span class="help-block">Írd le a véleményed.</span>
                     <div class="help-block with-errors"></div>
               </div>
        </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button {{action "submit" recipe}} class="btn btn-primary">Submit</button>
            </div>
          </div>
     </fieldset>
</form>