<h2>Koktél megjelenítése</h2>

{{recipes-edit model=model}}

{{link-to "Vissza" "recipes.list" class="btn btn-default"}}

{{recipes-newcomment onSave=(action "newComment") model=model}} 

{{recipes-comment model=model}}


