{{#each model.comments}}
    <li class="list-group-item">
        <blockquote>
            <h4 class="list-group-item-heading">{{user}} <small></small></h4>
            <p class="list-group-item-text">{{text}}</p>
        </blockquote>
    </li>
{{/each}}