{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Koktélok</h1>
</div>

{{recipes-list recipes=model}}

<p>{{link-to "Új recept felvitele" "recipes.new" class="btn btn-default"}}</p>
